


body {
  font-family: Lato;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.bolt-header {
  position: fixed;
  width: 100%;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 999;
}   

.main {
  padding-top: 78px;
}

.inner{
  margin: auto;
  width: 1100px;
  text-align: center;
}

.fas.fa-bolt {
  float: left;
  color: #a8a4a4;
}

.hovers {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  cursor: pointer;
}

.contact-btn {
  cursor: pointer;
  padding: 14px 12px;
  background-color: #74cfae;
  float: right;
  font-size: 12px;
  color: #f2f2f2;
  text-decoration: none;
}

.humbergur {
  display: none;
}

.contact-btn:hover {
  color: #333;
}

.theme {
  width: 100%;
  background-color: #f2f2f2;
}

.theme-inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.bolt-theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.bolt-theme-p {
  font-family: Raleway;
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px; 
}

.what-we-can-do {
  background-color: #74cfae;
  width: 100%;
}

.what-inner {
  padding-top: 50px;
}

.iphone {
  float: left;
}

.what-text {
  color: white;
  text-align: center;
  vertical-align: top;
  float: right;
  width: 650px;
}

.what {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 35px;
}

.what-p {
  font-size: 20px;
}

.our-latest-work {
  background-color: #f2f2f2;
  width: 100%;
  color: #333;
}

.our-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.our {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 40px;
}

.images {
  margin-bottom: 90px;
}

.o-img {
  margin-left: 100px;
  margin-top: 80px;
  float: left;
  opacity: 0.7;
}

.o-img:hover {
  opacity: 1;
}

.o-img:nth-child(3n+1) {
  margin-left: 0;
}

.o-img:nth-of-type(-n+3) {
  margin-top: 0;
}

.our-p {
  font-size: 20px;
  display: inline-block;
}

.email-btn {
  padding: 14px 12px;
  background-color: #74cfae;
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
  font-size: 12px;
  color:#f2f2f2;
  text-decoration: none;
}

.email-btn:hover {
  color: #333;
}

.our-circles {
  background-color: #4e4e4e;
  width: 100%;
  color: #f2f2f2;
}

.circles-inner {
  padding-bottom: 100px;
  padding-top: 70px;
}

.our-skills {
  font-family: Raleway;
  font-size: 24px;
  margin-bottom: 70px;
}

.circle {
  display: inline-block;
  margin-right: 180px;
}

.circle-p{
  font-size: 16px;
  margin-top: 10px;
}

.circle:last-child {
  margin-right: 0;
}

.sns-link {
  width: 100%;
  background-color: #f2f2f2;
}

.sns-inner {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-hover {
  display: inline-block;
  text-decoration: none;
  color: #74cfae;
  width: 185px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sns-hover:hover {
  background-color: white;
}

.footer-box {
  width: 100%;
  background-color: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-p {
  color: #f2f2f2;
  font-size: 16px;
  text-align: right;
}

@media screen and (max-width:767px) {
  
  body{
    width: 100%;
  }

  .inner {
    width: 100%;
    margin: 0;
    float: none;
  }

  .theme-inner {
    padding-top: 160px;
    padding-bottom: 130px;
    margin: 0 auto;
  }

  .bolt-theme {
    font-size: 80px;
  }
  
  .contact-btn { 
    display: none;
  } 

  .humbergur {
    display: block;
    float: right;
    color: #ddd;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .what-inner {
    padding: 10px;
    box-sizing: border-box;
  }

  .iphone {
    float: none;
  }

  .what-text {
    margin-top: 10px;
    float: none;
    width: 100%;
  }
  
  .o-img {
    float: none;
    display: block;
    margin: 0 auto;
    width:300px;
  }

  .o-img:nth-child(3n+1) {
    margin: 0 auto;
    margin-top: 80px;
  }

  .o-img:first-child {
    margin-top: 0;
  }

  .our-p {
    margin-bottom: 20px;
  }

  .email-btn {
    margin: 0 auto;
  }

  .our-skills {
    margin-bottom: -30px;
  }

  .circle {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }

  .sns-inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns-hover {
    width: 100%;
    margin: 0 auto;
  }

  .footer-p {
    padding-right: 10px;
  }
  }

  @media screen and (min-width:768px) and (max-width:1199px) {
   
    body {
      width: 100%;
    }

    .inner{
      width: 100%;
    }

    .what-inner {
      padding-top: 50px;
      padding-bottom: 25px;
    }

    .iphone {
      margin: 0 auto;
      float: none;
      margin-bottom: 20px;
    }

    .what-text {
      float: none;
      margin : 0 auto;
    }

    .o-img {
      float: none;
      margin: 0 auto;
      display: block;
      width: 300px;
    }

    .o-img:nth-child(3n+1) {
      margin: 0 auto;
      margin-top: 80px;
    }

    .o-img:first-child {
      margin-top: 40px;
    }

    .our-p {
      display: block;
    }

    .email-btn {
      margin: 0 auto;
      margin-top: 40px;
    }

    .our-skills {
      margin-bottom: -18px;
    }

    .circle {
      display: block;
      margin: 0 auto;
      margin-top: 88px;
    }

    .footer-p {
      padding-right: 10px;
    }
  }